/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-condensed-300 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/open-sans-condensed-v15-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-condensed-v15-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-condensed-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-condensed-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-condensed-v15-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    /*color: #fff;*/
  }

ul{
    list-style-type: none;
}

.header__wrapper{
    background: transparent;
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 50px;
    text-transform: uppercase;
    color: white;
    font-family: Open Sans Condensed;
    font-weight: 700;
    font-size: 18px;

    display: flex;
}

.header__list{
    background: inherit;
    display: flex;
    justify-content: space-between;
}

.header__item{
    background: inherit;
    margin-right: 63px;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:#D1A954
}

.header__item:last-child{
    margin-right: 0px;
}

.header__phone{
    margin-left: 167px;
    text-decoration: underline;
    text-decoration-color: #D1A954;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.fscreen{
    height: 1045px;
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../img/bg.png) no-repeat center;
    background-size: cover;
    height: 100vh;
}

.leftbar{
    position: fixed;
	left: 0px;
	top: 0px;
    background: #333333BF;
    height:100vh;
    width:150px;
    color: white;
}

.leftbartext{
    white-space: nowrap;
    margin-top: 383px;
    left: 62px;
    top: 625px;

    /* p / 18b */
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #C4C4C4;

    transform: rotate(-90deg);

}

bar{
    border-left:3px solid #C4C4C4;
	width: 3px;
	height: 80px;
	position: absolute;
	margin-top: 100px;
	left: 75px;
}

.iconbar{
    margin-top:220px;
    margin-left: 62px;
    align-items: center;
    width: 26px;
}

.icon{
    margin-top: 30px;
    align-self: center;

    display: block;
    width: 26px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#vk{
    background-image: url(../img/icons/vk.svg);
}
#vk:hover{
    background-image:url(../img/icons/vk-hover.svg)
}
#inst{
    background-image: url(../img/icons/inst.svg);
}
#inst:hover{
    background-image:url(../img/icons/inst-hover.svg)
}
#fb{
    background-image: url(../img/icons/fb.svg);
}
#fb:hover{
    background-image:url(../img/icons/fb-hover.svg)
}
#yt{
    background-image: url(../img/icons/youtube.svg);
}
#yt:hover{
    background-image:url(../img/icons/youtube-hover.svg)
}

.desc{
    width: 540px;
    height: 296px;
    display:inline-block;
    
}

#descTitle{
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 117px;
    
    color: #FFFFFF;
}

#descText{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    width:540px;
    margin-top: 30px;

    color: #FFFFFF;
}

.tButton{
    margin-top:49px;
    background-color: #D1A954;
    color: white;
    border: none;
    width: 160px;
    height: 50px;

    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.tButton:hover{
    cursor:pointer;
    color:#D1A954;
    background-color:white;
}

.descWrapper{
    margin-top: 190px;
    margin-left: 405px;
    display:flex;
    align-content: flex-start;
}

.poster{
    display:inline-block;
    margin-left: 125px;
    width: 370px;
    height: 490px;
}

.listButton{
    background:transparent;
    border: none;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #C4C4C4;
}

.listButton:hover{
    cursor:pointer;
    color:white;
}

.rating{
    height: 100vh;
    background:#333333;
    background-size: cover;
    padding-left: 405px;
    padding-right: 405px;
    padding-top: 150px;
}

.ratingArea{
    background: url(../img/rating.jpg);
    background-size: cover;
    width: 1100px;
    height: 550px;
}

.years{
    /*margin-top: 126px;*/
    margin-top:-45px;
    margin-left: 190px;
    display:inline-block;

    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    /* gold */
    color: #D1A954;
}

.rightCardArea{
    display:inline-block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;

    width: 540px;
    margin-left:103px;
}

.star{
    margin-right: 25px;
}

.cardWrapper{
    margin-top: 171px;   

    display:flex;
    align-content:flex-start;
}

.partners{
    height: 100vh;
    background:#333333;
    background-size: cover;
    padding-top: 150px;
}

.partnersTitle{
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    /* white */
    color: #FFFFFF;
}

.partnersTitle:before {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    /* gold */
    color: #D1A954;
    content: "Партнеры ";
  }

  .partnersLogos{
    padding-right: 370px;
    padding-left: 410px;
    padding-top: 100px;
  }

  .logo{
      margin-right: 78px;
      margin-bottom: 80px;
  }