body{
	background-color: #1f1f1f;
    color:#bebebe;
}

.menu {
    width:33%;
    text-align: center;
}
a:link, a:visited{
    color:#bebebe;
}
a:hover{
    color:white;
}

hr{
    color:#bebebe;
    size:1px;
}