body
{
	background-color: #1f1f1f;
    color:#bebebe;
}

.menu {
    width:33%;
    text-align: center;
}
.menu a:link, .menu a:visited{
    color:#bebebe;
}
.menu a:hover{
    color:white;
}

hr{
    color:#bebebe;
}