body{
	background-color: #1f1f1f;
    color:#bebebe;
}

.menu {
    width:33%;
    text-align: center;
}
a:link, a:visited{
    color:#bebebe;
}
a:hover{
    color:white;
}

hr{
    color:#bebebe;
    size:1px;
}

h2{
    font-size:18px;
    font-weight:400;
}

ul
{
    font-size: 15px;    
	color: #4da3d4;
	list-style-image: url(../img/circle.png);
}

img{
    border-radius: 10%;
    border: 5px solid;
    border-color: #bebebe;
}

#logo{
    width:5%;
    border:0px;
    border-radius:0%;
}

input, textarea{
    width:15%;
    height:20px;
    background: #1f1f1f;
    color: white;
    border-color: #bebebe;
}
input::placeholder, textarea::placeholder{
    color:#bebebe;
}
textarea{
    width:25%;
    height:100px;
    background: #1f1f1f3f;
    color: white;
    border-color: #bebebe;
}

#bigImg{
    border: 4px solid;
    border-color:#4da3d4;
    border-radius: 0%;
}

#shortDesc{
    color:#b3b3b3;
    font-size:14px;
    font-style:italic;
    line-height: 16px;
}

#fullDesc{
    color:#969696;
    font-size:16px;
    font-weight:400;
    line-height: 24px;
    text-align: left;
}